# Copy and rename this file into application-dev.properties, and correct/add relevant properties

spring.profiles.active=dev

#DATASOURCE
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://host:port/db
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.tomcat.initial-size=1
spring.datasource.tomcat.maxActive=10

#jOOQ
spring.jooq.sql-dialect=Postgres

#Flyway
flyway.url=jdbc:oracle:thin:@host:port:db
flyway.user=username
flyway.password=password
