# Copy and rename this file into application-dev.properties, and correct/add relevant properties

spring.profiles.active=dev

#DATASOURCE
spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.url=jdbc:postgresql://host:port/db
spring.datasource.username=username
spring.datasource.password=password
spring.datasource.tomcat.initial-size=1
spring.datasource.tomcat.maxActive=10

#jOOQ
spring.jooq.sql-dialect=Postgres

#Flyway
spring.flyway.clean-disabled=true
spring.flyway.locations=classpath:/db/migration
spring.flyway.out-of-order=true

#Log4j2
logging.config=classpath:log4j2.xml

#Authorization
authorization.oam.authorized_user_header=OAM_REMOTE_USER
authorization.oam.authorized_user_first_name_header=OAM_USER_FIRST_NAME
authorization.oam.authorized_user_last_name_header=OAM_USER_LAST_NAME
authorization.oam.authorized_user_mail_header=OAM_USER_MAIL
authorization.oam.authorized_user_mobile_header=OAM_USER_MOBILE
authorization.oam.authorized_user_organization_header=OAM_ORGANIZATION
authorization.oam.authorized_groups_header=OAM_GROUPS
